.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

#content-wrapper {
  padding: 4px;
  overflow: auto;
  height: calc(100% - 64px);
  margin: 0;
  min-height: calc(100% - 64px);
  min-width: 100%;
  width: 100%;
}

.active {
  font-weight: bold;
}
