<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    mode="over">
    <mat-toolbar id="drawer-toolbar">
      <span>Teamspeak Analytics</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active" (click)="drawer.close()">
        <mat-icon class="menu-icon">dashboard</mat-icon>
        <span>Home</span>
      </a>
      <a mat-list-item routerLink="/error" routerLinkActive="active" (click)="drawer.close()">
        <mat-icon class="menu-icon">error</mat-icon>
        <span>Error</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar id="toolbar" fxLayout="row" fxLayoutAlign="space-between center">
      <!-- MAIN TOOLBAR -->
      <div id="menu-toggle">
        <button mat-icon-button (click)="drawer.open()" type="button">
          <mat-icon aria-label="Open menu" style="margin-bottom: 4px;">menu</mat-icon>
        </button>
        <span>Teamspeak Analytics</span>
      </div>

      <div id="search">
        <mat-form-field [floatLabel]="'never'">
          <input type="text" matInput placeholder="Search User">
        </mat-form-field>
      </div>

      <div id="user">
        <button type="button" mat-icon-button>
          <mat-icon>notifications</mat-icon>
        </button>
        <button type="button" mat-icon-button>
          <mat-icon>person</mat-icon>
        </button>
      </div>

    </mat-toolbar>
    <!-- CONTENT -->
    <div id="content-wrapper">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
