<div id="wrapper">
  <h2>Create a server group chart</h2>
  <mat-vertical-stepper [linear]="true">
    <mat-step>
      Step 1 Gruppen Selecten
      <mat-selection-list style="height: 150px; overflow: auto;">
        <mat-list-option>Ok</mat-list-option>
        <mat-list-option>Ok</mat-list-option>
        <mat-list-option>Ok</mat-list-option>
        <mat-list-option>Ok</mat-list-option>
        <mat-list-option>Ok</mat-list-option>
        <mat-list-option>Ok</mat-list-option>
        <mat-list-option>Ok</mat-list-option>
        <mat-list-option>Ok</mat-list-option>
        <mat-list-option>Ok</mat-list-option>
        <mat-list-option>Ok</mat-list-option>
        <mat-list-option>Ok</mat-list-option>
        <mat-list-option>Ok</mat-list-option>
        <mat-list-option>Ok</mat-list-option>
        <mat-list-option>Ok</mat-list-option>
        <mat-list-option>Ok</mat-list-option>
      </mat-selection-list>
    </mat-step>
    <mat-step>
      Step 2 Chart konfigurieren
    </mat-step>
    <mat-step>
      Done / Ergebnis anzeigen
    </mat-step>
  </mat-vertical-stepper>
</div>
